In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Here's the stuff that we need

In [0]:
bigdata = pd.read_csv('https://raw.githubusercontent.com/acc440/project5/master/bigdata.csv?token=AO5O4XAW5AW6FYI6YE5MZZC6PGB5Y', parse_dates=['datadate'])

In [28]:
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137966 entries, 0 to 137965
Data columns (total 15 columns):
gvkey       137966 non-null int64
datadate    137966 non-null datetime64[ns]
fyear       137966 non-null int64
tic         137871 non-null object
conm        137966 non-null object
fyr         137966 non-null int64
ap          111703 non-null float64
at          112805 non-null float64
che         112729 non-null float64
invt        111205 non-null float64
ni          112429 non-null float64
ppegt       97676 non-null float64
rect        111866 non-null float64
revt        112377 non-null float64
exchg       137871 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 15.8+ MB

In [29]:
pd.to_datetime(bigdata['datadate'])

0        1990-05-31
1        1991-05-31
2        1992-05-31
3        1993-05-31
4        1994-05-31
            ...
137961   2016-12-31
137962   2017-12-31
137963   2018-12-31
137964   2017-09-30
137965   2018-09-30
Name: datadate, Length: 137966, dtype: datetime64[ns]

In [30]:
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137966 entries, 0 to 137965
Data columns (total 15 columns):
gvkey       137966 non-null int64
datadate    137966 non-null datetime64[ns]
fyear       137966 non-null int64
tic         137871 non-null object
conm        137966 non-null object
fyr         137966 non-null int64
ap          111703 non-null float64
at          112805 non-null float64
che         112729 non-null float64
invt        111205 non-null float64
ni          112429 non-null float64
ppegt       97676 non-null float64
rect        111866 non-null float64
revt        112377 non-null float64
exchg       137871 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 15.8+ MB