In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Here's the stuff that we need

In [0]:
bigdata = pd.read_csv('https://raw.githubusercontent.com/acc440/project5/master/bigdata.csv?token=AO5O4XAW5AW6FYI6YE5MZZC6PGB5Y', parse_dates=['datadate'])

In [3]:
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137966 entries, 0 to 137965
Data columns (total 15 columns):
gvkey       137966 non-null int64
datadate    137966 non-null datetime64[ns]
fyear       137966 non-null int64
tic         137871 non-null object
conm        137966 non-null object
fyr         137966 non-null int64
ap          111703 non-null float64
at          112805 non-null float64
che         112729 non-null float64
invt        111205 non-null float64
ni          112429 non-null float64
ppegt       97676 non-null float64
rect        111866 non-null float64
revt        112377 non-null float64
exchg       137871 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 15.8+ MB

In [4]:
pd.to_datetime(bigdata['datadate'])

0        1990-05-31
1        1991-05-31
2        1992-05-31
3        1993-05-31
4        1994-05-31
            ...
137961   2016-12-31
137962   2017-12-31
137963   2018-12-31
137964   2017-09-30
137965   2018-09-30
Name: datadate, Length: 137966, dtype: datetime64[ns]

In [5]:
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137966 entries, 0 to 137965
Data columns (total 15 columns):
gvkey       137966 non-null int64
datadate    137966 non-null datetime64[ns]
fyear       137966 non-null int64
tic         137871 non-null object
conm        137966 non-null object
fyr         137966 non-null int64
ap          111703 non-null float64
at          112805 non-null float64
che         112729 non-null float64
invt        111205 non-null float64
ni          112429 non-null float64
ppegt       97676 non-null float64
rect        111866 non-null float64
revt        112377 non-null float64
exchg       137871 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(3), object(2)
memory usage: 15.8+ MB

In [6]:
bigdata.head()

   gvkey   datadate  fyear  tic  ...    ppegt    rect     revt  exchg
0   1004 1990-05-31   1989  AIR  ...  105.646  93.581  444.875   11.0
1   1004 1991-05-31   1990  AIR  ...  113.060  91.238  466.542   11.0
2   1004 1992-05-31   1991  AIR  ...  119.315  89.781  422.657   11.0
3   1004 1993-05-31   1992  AIR  ...  118.585  68.849  382.780   11.0
4   1004 1994-05-31   1993  AIR  ...  122.101  85.947  407.754   11.0

[5 rows x 15 columns]

Creating explanatory variables

In [7]:
bigdata['scaled_cash'] = bigdata['che'] / bigdata['at']
bigdata['working_cap'] = bigdata['invt'] + bigdata['rect'] - bigdata['ap']
bigdata['ex_cash'] = bigdata['che'] - bigdata['working_cap']
bigdata.head()

   gvkey   datadate  fyear  tic  ... exchg  scaled_cash  working_cap  ex_cash
0   1004 1990-05-31   1989  AIR  ...  11.0     0.010409      219.869 -215.825
1   1004 1991-05-31   1990  AIR  ...  11.0     0.004087      212.252 -210.699
2   1004 1992-05-31   1991  AIR  ...  11.0     0.010616      219.744 -215.547
3   1004 1993-05-31   1992  AIR  ...  11.0     0.006176      208.860 -206.605
4   1004 1994-05-31   1993  AIR  ...  11.0     0.043278      211.268 -193.194

[5 rows x 18 columns]

Throwing out total assets less than 50 and scaled cash less than 0

In [8]:
bigdata = bigdata[(bigdata['at'] > 50)]
bigdata = bigdata[(bigdata['scaled_cash'] > 0)]
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83836 entries, 0 to 137963
Data columns (total 18 columns):
gvkey          83836 non-null int64
datadate       83836 non-null datetime64[ns]
fyear          83836 non-null int64
tic            83836 non-null object
conm           83836 non-null object
fyr            83836 non-null int64
ap             82777 non-null float64
at             83836 non-null float64
che            83836 non-null float64
invt           82460 non-null float64
ni             83694 non-null float64
ppegt          69802 non-null float64
rect           83175 non-null float64
revt           83691 non-null float64
exchg          83836 non-null float64
scaled_cash    83836 non-null float64
working_cap    80950 non-null float64
ex_cash        80950 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(3), object(2)
memory usage: 12.2+ MB

Getting rid of null values

In [9]:
bigdata.dropna(inplace = True)
bigdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67788 entries, 0 to 137963
Data columns (total 18 columns):
gvkey          67788 non-null int64
datadate       67788 non-null datetime64[ns]
fyear          67788 non-null int64
tic            67788 non-null object
conm           67788 non-null object
fyr            67788 non-null int64
ap             67788 non-null float64
at             67788 non-null float64
che            67788 non-null float64
invt           67788 non-null float64
ni             67788 non-null float64
ppegt          67788 non-null float64
rect           67788 non-null float64
revt           67788 non-null float64
exchg          67788 non-null float64
scaled_cash    67788 non-null float64
working_cap    67788 non-null float64
ex_cash        67788 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(3), object(2)
memory usage: 9.8+ MB

In [10]:
bigdata['scaled_cash'].describe()

count    6.778800e+04
mean     1.614069e-01
std      2.041973e-01
min      1.093842e-07
25%      2.461522e-02
50%      7.975663e-02
75%      2.105218e-01
max      1.000000e+00
Name: scaled_cash, dtype: float64

In [11]:
bigdata['at'].describe()

count    6.778800e+04
mean     1.197275e+04
std      7.109528e+04
min      5.000400e+01
25%      2.649620e+02
50%      1.066019e+03
75%      4.914779e+03
max      3.418318e+06
Name: at, dtype: float64